<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
</head>
<body>
<ul class="layui-nav layui-bg-blue">
    <li style="width: 180px;padding-right: 3em" class="layui-nav-item"><a href="/"><img style="width: 90%; " src="../static/hc_logo.png" alt=""></a></li>
    <li class="layui-nav-item"><a href="/source_ctrl">用户使用情况</a></li>
{#    <li class="layui-nav-item layui-this"><a href="">大数据</a></li>#}
{#    <li class="layui-nav-item">#}
{#        <a href="javascript:;">解决方案</a>#}
{#        <dl class="layui-nav-child">#}
{#            <dd><a href="">移动模块</a></dd>#}
{#            <dd><a href="">后台模版</a></dd>#}
{#            <dd><a href="">电商平台</a></dd>#}
{#        </dl>#}
{#    </li>#}
    <li class="layui-nav-item"><a href="/disk/detail_info">磁盘使用详情</a></li>
    <li class="layui-nav-item"><a href="/gpu/rate">gpu使用统计</a></li>
</ul>
<div style="padding-right: 2em;padding-left: 2em">
    <table class="layui-hide" id="test"></table>

</div>

<script src="../static/layui/layui.js" charset="utf-8"></script>

<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return layer.msg(JSON.stringify(data.field));
        });
    });
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#test'
            ,
            url: '/disk/detail'
            ,
            cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,
            cols: [[
                {field: 'container_id', title: '容器ID'}
                , {field: 'image', title: '镜像name'}
                , {field: 'command', title: '命令'}
                , {field: 'local_volums', width: 200, title: '卷。。', sort: true}
                , {field: 'sort_size', width: 200, title: '使用量排序用', sort: true}
                , {field: 'size', width: 200, title: '使用量', sort: true}
                , {field: 'created', width: 200, title: '创建时间', sort: true}
                , {field: 'status', width: 200, title: '状态', sort: true}
                , {field: 'names', title: '容器名'}
            ]]
        });
    });
</script>
</body>
</html>

