<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GPU使用率</title>
    <script src='../static/echarts.min.js'></script>
</head>

<body>

<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main2" style="width: 1600px;height:700px;margin: 0 auto;"></div>


<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart2 = echarts.init(document.getElementById('main2'));


    var option2 = {
        title: {
            text: 'GPU使用率统计',
            subtext: '以系统填写信息结算'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['GPU-1', 'GPU-2', 'GPU-3', 'GPU-4', 'GPU-5', 'GPU-6', 'GPU-7', 'GPU-8', 'GPU4-all']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: {{ data.x_list|tojson }}
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} '
                }
            }
        ],
        series: [
            {
                name: 'GPU-1',
                type: 'line',
                data: {{ data.y_list_1|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-2',
                type: 'line',
                data: {{ data.y_list_2|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-3',
                type: 'line',
                data: {{ data.y_list_3|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-4',
                type: 'line',
                data: {{ data.y_list_4|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-5',
                type: 'line',
                data: {{ data.y_list_5|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-6',
                type: 'line',
                data: {{ data.y_list_6|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-7',
                type: 'line',
                data: {{ data.y_list_7|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-8',
                type: 'line',
                data: {{ data.y_list_8|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                name: 'GPU-all',
                type: 'line',
                data: {{ data.y_list_all|tojson }},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        //{type : 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                },
                lineStyle: {
                    width: 4 //default value:2
                }
            },
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option2);
</script>
</body>
</html>